{% include 'home.twig'%}
{% set page_title = 'Edit student' %}
{% block content %} 


		<div id="edit" class="panel panel-default">
			<div class="panel-heading">
				<h4>Edit details of {{ student.name }}</h4>
				<a href="{{ base_url() }}/manage/deletestudent/{{ student.id }}" class="del btn btn-default">🗑</a>
			</div>
				<form class="panel-body" action="{{ base_url() }}/manage/editstudent/{{ student.id }}" method="post" autocomplete="off" enctype="multipart/form-data">
					<div class="form-group{{errors.email ? ' has-danger' : '' }}">
						<div class="input-group">
							<span class="input-group-addon form-span">E-mail</span>
							<input type="text" name="email" id="email" placeholder="you@domain.com" class="form-control" value="{{ old.email ? old.email : student.email }}">
						</div>
						{% if errors.email %}
						<span class="form-control-feedback">{{ errors.email | first }}</span>
						{% endif %}
					</div>
					<div class="form-group{{errors.name ? ' has-danger' : '' }}">
						<div class="input-group">
							<span class="input-group-addon form-span">Name</span>
							<input type="text" name="name" id="name" placeholder="Enter your name" class="form-control" value="{{ old.name ? old.name : student.name }}">
						</div>
						{% if errors.name %}
						<span class="form-control-feedback">{{ errors.name | first }}</span>
						{% endif %}
					</div>
					<div class="form-group  {{ errors.phone ? ' has-danger' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon form-span">phone</span>
                            <input id="phone" name="phone" class="form-control" placeholder="enter your phone number" type="number" value="{{ old.phone ? old.phone : student.phone }}">
                        </div>
                        {% if errors.phone %}
						<span class="form-control-feedback">{{ errors.phone | first }}</span>
						{% endif %}
                    </div>
				    <div class="form-group  {{ errors.role ? ' has-danger' : '' }}">
                        <div class="input-group">
                        	<span class="input-group">Select the courses to which the student is enrolled</span>
							{% for course in auth.courseslist %}
                            <label class="checkbox-inline">
                                <input type="checkbox" name="course[]" value="{{ course.id }}" 
                                {% for enrollCourse in hisEnroll %} 
	                                {% if course.id == enrollCourse.course_id %} 
		                                checked 
	                                {% endif %}
                                {% endfor %}>{{ course.name }}
                            </label>
                            {% endfor %}
                        </div>
                        {% if errors.role %}
							<span class="form-control-feedback">{{ errors.role | first }}</span>
						{% endif %}
                    </div>
                    <div class="form-group{{errors.image ? ' has-danger' : '' }}">
						<div class="input-group">
							<span class="input-group-addon form-span">image</span>
							<input type="file" name="image" id="image"  class="form-control">
						</div>
						{% if errors.image %}
						<span class="form-control-feedback">{{ errors.image | first }}</span>
						{% endif %}
					</div>
					<input type="hidden" name="student" value="{{ student.id }}">
					<input type="hidden" name="admin" value="{{ auth.user.id }}">
					<button type="submit" class="btn btn-default">Done</button>

					{{ csrf.field | raw }}
					
				</form>
		</div>
	</div>
 
 </div>
{% endblock %}
