{% include 'home.twig'%}
{% set page_title = 'Show student' %}
{% block content %} 


				<div id="show" class="panel panel-default">
					<div class="panel-heading">
						<h4>Details of {{ student.name }}</h4>
						<a href="{{ base_url() }}/manage/editstudent/{{ student.id }}" class="btn btn-default">✎</a>
					</div>
					<div class="panel-body">
							<div>
								<h5><strong>Name:</strong></h5>
								<span id="student_name">{{ student.name }}</span>
							</div>
							<div>
								<h5><strong>Phone:</strong></h5>
								<span id="student_phone">{{ student.phone }}</span>
							</div>						
							<div>
								<h5><strong>E-mail:</strong></h5>
								<span id="student_email">{{ student.email }}</span>
							</div>
							<div>
								<h5><strong>Created at:</strong></h5>
								<span id="student_created_at">{{ student.created_at }}</span>
							</div>
							<div>
								<h5><strong>Updated at:</strong></h5>
								<span id="student_updated_at">{{ student.updated_at }}</span>
							</div>
							<div id="enrollmentDiv">
								<h5><strong>Enroll to: {{hisEnroll | length }} courses</strong></h5>
								<ul>
									{% if not hisEnroll %}
									<li><strong>This student did not enroll <br> for any course</strong></li>
									{% endif %}
								{% for rollment in hisEnroll %}
									<li>
										{{rollment.course_name}} course,<br>
										<strong>by:</strong> {{rollment.user_name}},<br> 
										<strong>at:</strong> {{rollment.created_at}}
									</li>
								{% endfor %}
								</ul>
							</div>
					</div>
				</div>
			</div>
		</main>
	</div>


{% endblock %}
