{% include 'home.twig'%}
{% set page_title = 'Show course' %}
{% block content %} 

				<div id="show" class="panel panel-default">
					<div class="panel-heading">
						<h4>Details of {{ course.name }}</h4>
						 {% if auth.role > 1 %}
						<a href="{{ base_url() }}/manage/editcourse/{{ course.id }}" class="btn btn-default">✎</a>
						{% endif %}
					</div>
					<div class="panel-body">
							<div class="input-group">
								<h5><strong>Name:</strong></h5>
								<span  id="course_name">{{ course.name }}</span>
							</div>
							<div class="input-group">
								<h5><strong>Description:</strong></h5>
								<span  id="course_description">{{ course.description }}</span>
							</div>						
							<div class="input-group">
								<h5><strong>Created at:</strong></h5>
								<span  id="course_created_at">{{ course.created_at }}</span>
							</div>
							<div class="input-group">
								<h5><strong>Updated at:</strong></h5>
								<span  id="course_updated_at">{{ course.updated_at }}</span>
							</div>
							<div class="input-group">
								<h5><strong>{{allRegistered | length}} Students are enrolled in this course </strong></h5>
							</div>
					</div>
				</div>
			</div>
		</main>
	</div>


{% endblock %}
